.title {
  font-size: 4.125rem;
  font-weight: 400;
  font-family: "TTOctosquares";
  line-height: 1.1;
  letter-spacing: 1.5056rem;
  text-transform: uppercase;

  &Medium {
    font-size: 4.125rem;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  &Large {
    font-size: 5rem;
  }
}

@media (min-width: 940px) and (max-width: 1260px) {
   .title {
    margin-bottom: 4.375rem;
    font-size: 3.5rem;
  }
}

@media (min-width: 720px) and (max-width: 940px) {
  .title {
    margin-bottom: 4.375rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 305px) and (max-width: 720px) {
  .title {
        margin-bottom: 4.375rem;

    &Medium {
      font-size: 3.125rem;
      letter-spacing: 0.6563rem;
    }

    &Large {
      font-size: 2.5rem;
      letter-spacing: 0.525rem;
    }
  }
}
