.title {
  font-size: 66px;
  font-weight: 400;
  font-family: "TTOctosquares";
  line-height: 1.1;
  letter-spacing: 24.0896px;
  text-transform: uppercase;

  &Medium {
    font-size: 66px;
    margin-bottom: 20px;
    text-align: center;
  }

  &Large {
    font-size: 80px;
    letter-spacing: 1.825rem;
  }
}

@media (min-width: 58.75rem) and (max-width: 78.75rem) {
  .title {
    margin-bottom: 70px;
    font-size: 56px;
    &Large {
      font-size: 40px;
      margin: 9.375rem 0 5.25rem 0;
      letter-spacing: 8.4px;
    }
  }
}

@media (min-width: 45rem) and (max-width: 58.75rem) {
  .title {
    margin-bottom: 70px;
    font-size: 40px;
  }
}

@media (min-width: 19.0625rem) and (max-width: 45rem) {
  .title {
    margin-bottom: 70px;

    &Medium {
      font-size: 50px;
      letter-spacing: 10.5008px;
    }

    &Large {
      font-size: 40px;
      letter-spacing: 8.4px;
    }
  }
}
