.navigation {
  font: bold 16px "Neue Machina", sans-serif;
  display: flex;
  position: fixed;
  left: 1rem;
  gap: 3vh;
  align-items:center;
  writing-mode: vertical-rl;
  &Link {
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s;
    padding: 0 16px;

    &:hover,
    &:visited {
      color: var(--text-color);
      opacity: 1;
    }
    &Active {
      opacity: 1;
    }
  }

  &Star {
    display: block;
    width: 1.345rem;
    height: 1.345rem;
    transform: rotate(90deg);
    background: url("../../public/images/star.svg") no-repeat center center;
  }
}
