.socialNetworks {
  display: flex;
  gap: 38px;
  position: relative;

  &Link {
    color: var(--text-color);
    text-indent: -1234em;
    display: inline-block;
    width: 1.6875rem;
    height: 1.6875rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    transition: all 0.3s;

    &:hover,
    &:visited {
      color: var(--text-color);

      &:hover {
        opacity: 0.8;
      }
    }
  }
  &DisCord {
    background-image: url("../../public/images/discord.svg");
  }
  &Twitter {
    background-image: url("../../public/images/twitter.svg");
    background-size: 90% auto;
  }
  &AntDesign {
    background-image: url("../../public/images/antdesign.svg");
  }
}
